<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.TagsRelevanceMapper">
    <select id="listTagRelevance" resultType="com.example.back.entity.TagsRelevance">
        SELECT DISTINCT genome_scores.movieId,genome_tags.tag,genome_scores.relevance
        FROM genome_tags,genome_scores
        WHERE genome_scores.movieId IN
        <foreach collection="movieIdList" item="movieId" index="index"
                 open="(" close=")" separator=",">
            #{movieId}
        </foreach>
          AND genome_tags.tagId=genome_scores.tagId
        GROUP BY genome_tags.tagId
        ORDER BY genome_scores.relevance DESC
    </select>
</mapper>
