<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.UsersRatingsMapper">
    <select id="listByGenderRating" resultType="com.example.back.entity.UsersRatings">
        select users.userId,gender,name,movieId,rating from users,ratings ${ew.customSqlSegment} and users.userId= ratings.userId
    </select>
</mapper>
