<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.UsersRatingsMapper">
    <select id="listByGenderRating" resultType="com.example.back.entity.UsersRatings">
        select users.userId,gender,name,ratings.movieId,rating,title,genres,url
        from users,ratings,movies ${ew.customSqlSegment} and users.userId= ratings.userId and ratings.movieId=movies.movieId
    </select>
    <select id="showMostHotByGender" resultType="com.example.back.entity.UsersRatings">
        select movies.movieId,movies.title,movies.genres,url,AVG(rating) as rating,count(*) as hot
        from movies,ratings,users
            ${ew.customSqlSegment} and ratings.userId=users.userId and movies.movieId=ratings.movieId
        group by movies.movieId
        having count(*)>1
        order by count(*)*AVG(rating) desc
        </select>
</mapper>
